@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import "tailwindcss";

.card{
    height: 350px;
    width: 300px;
}

.footer{
    font-family: "Barriecito", system-ui;
    height: 150px;
}



