@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

body{
    font-family: "Google Sans Code", monospace;
}
.card{
    height: 350px;
    width: 300px;
}

.footer{
    font-family: "Barriecito", system-ui;
    height: 150px;
}



